/.idea/
/howfairis.egg-info/
/**/__pycache__/
/venv3
/.eggs
/.coverage
/coverage.xml
/htmlcov/

docs/_build
docs/apidocs

# ignore the coverage reports generated when running pylint with coverage calculation
/coverage/.coverage
/coverage/htmlcov/*
/coverage/coverage.xml


# don't accidentally commit secrets like apikeys
/**secret**
