name: livetests

# This workflow is triggered manually and runs howfairis on some
# live repositories on GitHub and GitLab

on:
  workflow_dispatch:

jobs:

  build:
    name: Build for (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        python-version: ['3.10']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Python info
        shell: bash
        run: |
          which python
          python --version
      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install .[dev]
      - name: Build
        shell: bash
        run: python setup.py build
      - name: Run live cli tests
        shell: bash
        run: export TERM=dumb; ./clitests/script.sh
      - name: Run live tests
        shell: bash
        run: pytest livetests/
