name: livetests

# This workflow is triggered manually and runs howfairis on some
# live repositories on GitHub and GitLab

on:
  workflow_dispatch:

jobs:

  build:
    name: livetests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10
      - name: Python info
        shell: bash
        run: |
          which python
          python --version
      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install .[dev]
      - name: Build
        shell: bash
        run: python setup.py build
      - name: Run live cli tests
        shell: bash
        run: export TERM=dumb; ./clitests/script.sh
      - name: Run live tests
        shell: bash
        run: pytest livetests/
