name: quality

on:
 push:
 pull_request:
   types: [opened, reopened]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10
      - name: Install dependencies
        run: python -m pip install .[dev]
      - name: Check style against standards using prospector
        run: prospector --zero-exit -o grouped -o pylint:pylint-report.txt
      - name: Run unit tests with coverage
        run: pytest --cov --cov-report term --cov-report xml --junitxml=xunit-result.xml tests/
      - name: Correct coverage paths
        run: sed -i "s+$PWD/++g" coverage.xml
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
