name: tests

on:
 push:
 pull_request:
   types: [opened, reopened]

jobs:

  build:
    name: Build for (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.6', '3.7', '3.8', '3.9']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Python info
        shell: bash
        run: |
          which python
          python --version
      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install .
          python -m pip install .[dev]
      - name: Check style against standards using prospector
        shell: bash
        run: prospector
      - name: Check style of imports
        shell: bash
        run: isort --check-only --recursive --diff howfairis
      - name: Build
        shell: bash
        run: python setup.py build
      - name: Test
        shell: bash
        run: pytest tests/
      - name: Build API docs
        shell: bash
        working-directory: docs
        run: make html
